@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-text-field {
    @apply rounded-xl px-3 py-3 shadow shadow-p-black/50;
  }

  .site-background {
    @apply fixed -z-50 h-screen w-screen object-cover;
  }

  .add-acc-input-text-field {
    @apply w-full rounded-xl px-2 py-2 shadow shadow-gray-400/100;
  }

  .formConfirm {
    @apply flex w-full justify-center rounded-full bg-p-dviolet px-4 py-2 font-bold text-white shadow shadow-gray-400/100;
  }

  .formReject {
    @apply flex w-full justify-center rounded-full bg-slate-500 px-4 py-2 font-bold text-white shadow shadow-gray-400;
  }

  .accPButton {
    @apply rounded-md bg-p-gray px-5 py-1 text-sm shadow shadow-p-black/50;
  }

  .input-text-box-label {
    @apply text-sm;
  }

  .form-col-deets {
    @apply grid grid-flow-row auto-rows-max gap-2;
  }

  .select selected {
    @apply bg-pink-100;
  }

  .form-dropdown {
    @apply w-full justify-self-end rounded-md bg-white p-2 shadow shadow-gray-400;
  }

  .form-h1 {
    @apply text-3xl font-extrabold text-p-dbviolet;
  }

  .form-h2 {
    @apply text-xl font-bold text-p-dviolet;
  }

  .form-h3 {
    @apply text-center text-2xl font-bold text-p-dbviolet;
  }

  .form-field-required {
    @apply after:ml-0.5 after:text-red-500 after:content-['*'];
  }

  .accomP-button {
    @apply rounded-full bg-p-dblue p-2 shadow shadow-p-black/50 transition hover:bg-p-hdblue;
  }

  .star-favorite {
    @apply h-6 w-6 fill-p-yellow stroke-p-yellow;
  }

  .star-unfavorite {
    @apply h-6 w-6 fill-gray-400 stroke-gray-400;
  }

  .navbar-header {
    @apply sticky top-0 mx-auto mb-5 flex flex-wrap items-center justify-between bg-p-dblue p-4;
  }

  /* Provider styles (for log-in page) */
  .discord {
    @apply bg-[#5865F2] text-white;
  }

  .google {
    @apply bg-white text-[#4086F4];
  }

  .dropdown-buttons {
    @apply flex w-full items-center rounded-lg px-1 py-2 hover:bg-p-gray focus:outline-none;
  }

  .filter-text {
    @apply ml-2 text-xs text-black;
  }

  .filter-search {
    @apply w-full rounded-full px-3 py-1 text-xs;
  }

  .filter-header {
    @apply flex w-full items-center pt-3 text-sm font-bold text-violet-950;
  }

  .profile-dropdown {
    @apply absolute right-0 top-11 z-10 w-[15rem] overflow-hidden rounded-lg bg-white p-4 shadow-lg;
  }

  .floating-image {
    animation: floatAnimation 3s ease-in-out infinite;
  }

  .button-style {
    @apply cursor-pointer rounded-full bg-p-dbviolet py-1 text-center text-xl font-bold text-white hover:bg-p-bviolet/80;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    padding: 1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #debeff;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #420eb3;
  }

  .management-buttons {
    @apply rounded-full bg-p-dbviolet px-5 py-2 text-lg font-bold text-white shadow hover:bg-p-bviolet/80;
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
